  .bionda {
      background-color: #f0ea6f;
  }

  .rossa {
      background-color: #aa3f11;
      color: white;
  }

  .dolce {
      background-color: #aa5c9d;
      color: white;
  }

  .acqua {
      background-color: #62e8ec;
  }

  .aranciata {
      background-color: #ecb958;
  }

  .vino {
      background-color: #ad2fec;
      color: white;
  }

  .lattina {
      background-color: #cbcbcb;
  }

  .vinorosso {
      background-color: #aa2865;
      color: white;
  }

  .vinobianco {
      background-color: #f0e790;
  }

  .vinospumante {
      background-color: #aa7804;
      color: white;
  }

  .vinodolce {
      background-color: #ec70a8;
  }

  .porzione {
      background-color: #aa2865;
      color: white;
  }

  .patate {
      background-color: #edf00c;
  }

  .panificati {
      background-color: #ffd700;
  }

  .cibo {
      background-color: #aa7804;
      color: white;
  }

  .caffe {
      background-color: #422e00;
      color: white;
  }